.bg {
    background-color: azure;
    display: flex;
    justify-content: center;
}

#historique {
    display: flex;
    flex-direction: column;
    align-self: end;
    
}

#submit {
    margin: 1rem;
    margin-right: 1;
}